a:link, a:visited, a:hover{
    color: #21053b;
    text-decoration: none;
}

body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: 80px;
    background: #fff;
    border-top: 3px solid #21053b
}

.navholder{
    width: 80%;
    height: 100%;
    margin: auto;
}

.logo{
    width: auto;
    height: 100%;
    float: left;
}

.logo img{
    width: auto;
    height: 100%;
}

nav{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav.mobile{
    display: none;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

nav ul li{
    font-size: 18px;
    font-family: 'Raleway';
    color: #21053b;
    font-weight: normal;
}

nav ul li a:hover{
    font-size: 17px;
    transition: 0.2s all;
    font-family: 'Raleway';
    color: #21053b;
    font-weight: normal;
}

.joinbtn{
    color: #fff !important;
    background: #e44330;
    padding: 10px 20px;
    border-radius: 50px;
    font-family: 'Raleway';
    font-weight: normal;
}

.joinbtn:hover{
    padding: 10px 24px;
    transition: 0.2s all;
    color: #fff;
    background: #e44330;
}

.hero{
    width: 100%;
    height: 480px;
    max-height: 500px;
    margin-bottom: 50px;
    background-image: url("images/warrior2.jpeg");
    background-position: top;
    background-size: cover;
    background-color: #430e74;
    background-blend-mode: overlay;
    opacity: 0.9;
}

.herotext{
    width: 80%;
    height: auto;
    margin: auto;
}

.herotext h1{
    width: 50%;
    margin-top: 10%;
    float: left;
    font-family: 'Raleway';
    font-size: 50px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 70px;
    letter-spacing: 3px;
}

.body-content{
    width: 80%;
    height: auto;
    margin: 0 auto 70px auto;
}

h2.about{
    text-align: center;
    margin-top: 20px;
    font-family: 'Raleway';
    font-size: 40px;
    padding-bottom: 15px;
    color: #21053b;
}

.body-content p{
    padding: 15px;
    font-size: 16px;
    color: #111;
    font-family: 'Raleway';
    font-weight: 400;
    text-align: center;
    line-height: 30px;
}

.warriors{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 40px 0 30px 0;
}

.warrior1{
    width: 30%;
    height: 300px;
    position: relative;
    background-image: url("images/warrior1.jpeg");
    background-position: center;
    background-size: cover;
    box-shadow: 4px 4px 1px #a69b9b;
}

.warrior2{
    width: 30%;
    height: 300px;
    position: relative;
    background-image: url("images/warrior2.jpeg");
    background-position: center;
    background-size: cover;
    box-shadow: 4px 4px 1px #a69b9b;
}

.warrior3{
    width: 30%;
    height: 300px;
    position: relative;
    background-image: url("images/warrior3.jpeg");
    background-position: center;
    background-size: cover;
    box-shadow: 4px 4px 1px #a69b9b;
}

.warrior1:hover{
    width: 30%;
    height: 300px;
    position: relative;
    background-image: url("images/warrior1.jpeg");
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #430e74;
    transition: 0.4s all;
    transform: scale(1.04);
    box-shadow: 4px 4px 1px #a69b9b;
}

.warrior2:hover{
    width: 30%;
    height: 300px;
    position: relative;
    background-image: url("images/warrior2.jpeg");
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #430e74;
    transition: 0.4s all;
    transform: scale(1.04);
    box-shadow: 4px 4px 1px #a69b9b;
}

.warrior3:hover{
    width: 30%;
    height: 300px;
    position: relative;
    background-image: url("images/warrior3.jpeg");
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #430e74;
    transition: 0.4s all;
    transform: scale(1.04);
    box-shadow: 4px 4px 1px #a69b9b;
}

.wlevel{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 100%;
    font-family: 'Raleway';
    font-size: 20px;
    color: #21053b;
    text-align: center;
    padding: 15px 0 15px 0;
}

.line{
    width: 10%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background: #dd5242;
    margin-top: -3%;
}

.line2{
    width: 10%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background: #dd5242;
    margin-top: -3%;
    position: relative;
    top: 120%;
}

.joinarea{
    width: 80%;
    height: auto;
    margin: auto;
}

.joinus{
    width: 100%;
    height: 300px;
    margin-top: 120px;
    padding-bottom: 30px;
    background: #21053b;
}

h3.question{
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    font-family: 'Raleway';
    font-weight: lighter;
    color: #999;
}

.data{
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
}

.youremail{
    width: 65%;
    height: 50px;
    float: left;
    border-radius: 50px;
    margin-left: 3%;
    padding-left: 15px;
    border: 1px solid #ccc;
    outline: none;
}

::placeholder{
    font-size: 18px;
    color: #999;
}

input[type='email']{
    font-size: 18px;
    color: #999;
}

.button{
    width: 25%;
    height: 50px;
    float: left;
    margin-left: 2%;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    background: #dd5242;
    border: 0;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Raleway';
}

.button:hover{
    background: #e44330;
}

footer{
    width: 100%;
    height: 70px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright{
    font-weight: 400px;
    color: #7e7c7c;
    font-size: 14px;
    font-family: 'Raleway';
    margin-left: 20px;
}

.socials{
    width: 8%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.socials img{
    width: 30px;
    height: 30px;
    transition: 0.4s all;
    transform: scale(1.04);
}

.socials img:hover{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s all;
    transform: scale(1.3);
}


/* Media Query */

@media screen and (max-width: 675px){
    nav{
        display: none;
    }

    nav.mobile{
        width: auto;
        float: right;
        display: flex;
    }

    nav.mobile ul{
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 70px;
        left: -100%;
        float: left;
        display: block;
        background: #bfb9c5;
        transition: 0.4s all;
        z-index: 1001;
    }

    nav.mobile ul li{
        display: block;
        margin: 10px 0;
        text-align: left;
        line-height: 40px;
    }

    nav.mobile ul li a{
        font-size: 17px;
        padding: 5px 25px;
    }

    nav.mobile ul li a:hover{
        font-size: 16px;
        color: #fff;
    }

    #clicked:checked ~ ul{
        left: 0;
        top: -3%;
        padding-top: 50px;
    }

    #clicked:checked ~ label #open{
        display: none;
    }

    #clicked:checked ~ label #close{
        display: block;
    }

    span#close{
        display: none;
    }

    .joinbtn{
        cursor: pointer;
    }

    .herotext h1{
        width: auto;
        margin-top: 25%;
        font-size: 40px;
        line-height: 50px;
    }

    .warriors{
        flex-wrap: wrap;
    }

    .warrior1, .warrior2, .warrior3{
        width: 100%;
        height: 300px;
        margin-bottom: 30%;
    }

    .warrior1:hover, .warrior2:hover, .warrior3:hover{
        width: 100%;
        height: 300px;
        margin-bottom: 30%;
    }

    .data{
        width: 100%;
    }

    .youremail{
        width: 100%;
        margin-left: 0;
    }

    ::placeholder{
        font-size: 15px;
    }

    input[type='email']{
        font-size: 15px;
    }

    .button{
        width: 50%;
        font-size: 17px;
    }

    .button:hover{
        width: 45%;
        font-size: 15px;
        background: #e44330;
        transition: 0.4s all;
    }

    footer{
        flex-wrap: wrap;
    }

    .copyright{
        width: 100%;
        text-align: center;
    }

    .socials{
        width: 100%;
        justify-content: center;
    }








}